@import "../../styles/var";

.Wrap {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $auth-background-color;
}

.Content {
  padding: 20px 40px;
  width: 350px;
  height: 500px;
  border-radius: 4px;
  background: $auth-content-color;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
}

.ChangePage {
  a {
    padding: 5px 0;
    margin-right: 10px;
    background: none;
    color: #858AA1;

    &.Active {
      border-bottom: 1px solid blue;
    }
  }

  margin-bottom: 30px;
}