@import "../../../styles/var";

.Headline {
  margin-bottom: 5px;

  h1 {
    font-weight: 700;
    font-size: 1.2rem;
  }
}

.CreateProject {
  margin: 5px 0;

  button {
    background: $project-color;
    color: #fff;
    padding: 8px 15px;
    font-weight: 700;
    border-radius: 4px;
  }
}
