@import '../../../styles/var';

.Wrap {
  width: $project-info-card-width;
  height: $project-info-card-height;
  background: $project-info-card-background;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: $project-info-card-padding;
}


.Headline, .Action {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Headline {
  &Text {
    font-weight: 700;
  }
}

.Action {
  .Button {
    button {
      background: none;
      color: $project-info-card-button-color;
    }

    i {
      margin-right: 10px;
    }
  }
}
