@import '../../../styles/var';

.Content {
  width: $project-info-card-width;
  min-height: $project-info-card-height;
  background: $project-info-card-background;
  padding: $project-info-card-padding;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 4px;
}


.Headline, .Action {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Headline {
  margin-bottom: 10px;

  &Text {
    font-weight: 700;
  }
}

.Action {
  .Button {
    button {
      background: none;
      color: $project-info-card-button-color;
    }

    i {
      margin-right: 10px;
    }
  }
}
