// auth
$auth-border-radius: 8px;
$auth-input-padding-left: 5px;

// header
$header-height: 30px;

// project
$project-wrap-width: 900px;
$project-height: 150px;
$project-border-color: #000;
$project-color: blue;